<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Two Res API Angular</title>
</head>

<body ng-app="twoCRUDApp">
    <div ng-controller="FrenchieController as frenchiectrl" ng-init="frenchiectrl.getFrenchies()">
      <list-directive type="Frenchies" animals="frenchiectrl.frenchies"></list-directive>
        <!-- <h1> Frenchies </h1>
        <ul>
            <item-directive animal="frenchie" type="frenchies" ng-repeat="frenchie in frenchiectrl.frenchies"></item-directive>
        </ul> -->
        <form-directive animal="{}" form="new" resource="frenchies"></form-directive>
    </div>
    <div ng-controller="DogwalkerController as dogwalkerctrl" ng-init="dogwalkerctrl.getDW()">
      <list-directive type="Dogwalkers" animals="dogwalkerctrl.dogwalkers"></list-directive>
        <!-- <h1> Dogwalkers </h1>
        <ul>
            <item-directive animal="dogwalker" type="dogwalkers" ng-repeat="dogwalker in dogwalkerctrl.dogwalkers"></item-directive>
        </ul> -->
        <form-directive animal="{}" form="new" resource="dogwalkers"></form-directive>
        <script src="./bundle.js"></script>
</body>

</html>
