<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Two Res API Angular</title>
  </head>
  <body ng-app="twoCRUDApp">
    <div ng-controller="FrenchieController as frenchiectrl" ng-init="frenchiectrl.getFrenchies()">
      <h1> Frenchies </h1>
      <ul>
        <li ng-repeat="frenchie in frenchiectrl.frenchies">
          NAME: {{frenchie.name}} and DOGWALKERS BITTEN: {{frenchie.dogWalkers_bitten}}
        <frenchie-directive animal="frenchie" type="edit" resource="frenchies"></frenchie-directive>
        </li>
      </ul>
    <frenchie-directive animal="{}" type="new" resource="frenchies"></frenchie-directive>
    </div>




    <div ng-controller="DogwalkerController as dogwalkerctrl" ng-init="dogwalkerctrl.getDW()">
      <h1> Dogwalkers </h1>
      <ul>
        <li ng-repeat="dogwalker in dogwalkerctrl.dogwalkers">
          NAME: {{dogwalker.name}} and DOGS DIED: {{dogwalker.dogs_died}}

        <frenchie-directive animal="dogwalker" type="edit" resource="dogwalkers"></frenchie-directive>
        </li>
      </ul>
      <frenchie-directive animal="{}" type="new" resource="dogwalkers"></frenchie-directive>
    <script src="./bundle.js"></script>
  </body>
</html>
