<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css">

    <script>
      $(document).ready(function() {

        // fix menu when passed
        $('.masthead').visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        });

        // create sidebar and attach to menu open
        $('.ui.sidebar').sidebar('attach events', '.toc.item');

      })
    </script>
  </head>
  <body data-ng-app="SharkTankApp">

    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a class="active item">Home</a>

      </div>
    </div>

    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a class="active item">Home</a>

            <!-- <div class="right item">
              <a class="ui inverted button">Log in</a>
              <a class="ui inverted button">Sign Up</a>
            </div> -->
          </div>
        </div>

        <div class="ui text container">
          <h1 class="ui inverted header">
            Shark Tank App
          </h1>
          <h2>Explore deals and companies from the Tank</h2>
          <div class="ui huge primary button">Get Started
            <i class="right arrow icon"></i>
          </div>
        </div>

      </div>

      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">

          <div class="row" data-ng-controller="SharkController as sharkctrl" ng-cloak data-ng-init="sharkctrl.getSharks()">
            <div class="eight wide column">
              <h3 class="ui header">Sharks</h3>
              <ul class="ui relaxed divided list">
                <div class="item" ng-repeat="shark in sharkctrl.sharks">
                <i ng-click="shark.editing = !shark.editing" class="large edit middle aligned icon"></i>
                  <div class="content">
                    <a class="header">{{shark.name}}</a>
                    <div class="description">$X million in investment
                    </div>
                    <form ng-hide="!shark.editing" ng-submit="sharkctrl.updateShark(shark, updatedShark)">
                      <input type="text" placeholder="{{shark.name}}"  ng-model="updatedShark.name"/>
                      <button type="submit">Update</button>
                      <button ng-click="sharkctrl.deleteShark(shark)">Delete</button>
                    </form>
                  </div>
                </ul>
              </div>

              <div class="six wide right floated column">
                <form ng-submit="sharkctrl.addShark()" class="ui form">
                  <input ng-model="sharkctrl.newShark.name" type="text"/>
                  <button type="submit" class="ui button">New Shark</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="segment">
        <div class="ui middle aligned stackable grid container">

          <div class="row" data-ng-controller="CompanyController as companyctrl" ng-cloak data-ng-init="companyctrl.getCompanies()">

      <table class="ui selectable inverted table">
        <thead>
          <tr>
            <th>Edit</th>
            <th>Name</th>
            <th>Deal</th>
            <th>Equity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="company in companyctrl.companies">
              <td ng-click="companyctrl.openModal(company._id)">

              <i class="large edit middle aligned icon"></i>
              </td>

              <td>

            {{company.name}}</td>
            <td>{{company.tvDealReached}}</td>
            <td>{{company.tvDealEquity}}</td>
            <td>{{company.tvDealAmount}}</td>
          </tr>
        </tbody>
      </table>



      <div ng-repeat="company in companyctrl.companies">

      <div id="modal-{{company._id}}"  class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          {{company.name}}
        </div>
        <div class="image content">
          <div class="ui medium image">

          </div>
          <div class="description">
<form class="ui form" ng-submit="companyctrl.updateCompany(company, updatedCompany)">
  <div class="field">
    <label>Company Name</label>
    <input type="text" placeholder="{{company.name}}" ng-model="updatedCompany.name"/>
  </div>
  <div class="field">
    <label>TV Deal Rached</label>
  </div>
  <input type="text" placeholder="{{company.tvDealReached}}" ng-model="updatedCompany.tvDealReached"/>
  <div class="field">
    <label>TV Deail Equity</label>
  </div>
  <input type="text" placeholder="{{company.tvDealEquity}}" ng-model="updatedCompany.tvDealEquity"/>
  <div class="field">
    <label>TV Deal Amount</label>
  </div>
  <input type="text" placeholder="{{company.tvDealAmount}}" ng-model="updatedCompany.tvDealAmount"/>
  <button type="submit">Update</button>
  <button ng-click="companyctrl.deleteCompany(company)">Delete</button>
</form>
        </div>
        <div class="actions">
          <div class="ui black deny button">
            Done
          </div>

        </div>
      </div>
    </div>
        </div>

        <form class= "ui form" ng-submit="companyctrl.addCompany(company, updatedCompany)">
          <div class="field">
<label>Company Name</label>
          <input type="text" placeholder="name"  ng-model="updatedCompany.name"/>
        </div>
        <div class="field">
        <label>TV Deal Rached</label>
      </div>
          <input type="text" placeholder="TRUE/FALSE"  ng-model="updatedCompany.tvDealReached"/>
          <div class="field">
          <label>TV Deail Equity</label>
        </div>
          <input type="text" placeholder=".15"  ng-model="updatedCompany.tvDealEquity"/>
          <div class="field">
          <label>TV Deal Amount</label>
        </div>
          <input type="text" placeholder="250000"  ng-model="updatedCompany.tvDealAmount"/>
          <button type="submit">Update</button>
          <button ng-click="companyctrl.deleteCompany(company)">Delete</button>
        </form>
        </div>
            </div>



      <div class="ui inverted vertical footer segment">
        <div class="ui container">
          <div class="ui stackable inverted divided equal height stackable grid"></div>
        </div>
      </div>
    </div>
    <script src="./bundle.js"></script>
  </body>

</html>
