<div ng-controller="NbaController as nbactrl" ng-init="nbactrl.getPlayer()">
  <h1>NBA Players</h1>
  <ul>
    <li ng-repeat="player in nbactrl.players">
    <form ng-hide="!player.editing" ng-submit="nbactrl.updatePlayer(player, updatedPlayer)">
      <input type="text" ng-model="updatedPlayer"/>
      <button type="submit">Update Player</button>
    </form>
    <button ng-click="player.editing = !player.editing">Edit</button>
    <button ng-click="nbactrl.deletePlayer(player)">Delete</button>
    </li>
  </ul>
  <form ng-submit="nbactrl.addPlayer(newPlayer)">
    <input ng-model="nbactrl.newPlayer.name" type="text" placeholder="name"/>
    <input ng-model="nbactrl.newPlayer.team" type="text" placeholder="team"/>
    <input ng-model="nbactrl.newPlayer.active" type="text" placeholder="active"/>
    <input ng-model="nbactrl.newPlayer.height" type="number" placeholder="height"/>
    <input ng-model="nbactrl.newPlayer.championships" type="number" placeholder="championships"/>
    <button type="submit">Post Player</button>
  </form>
</div>
<div ng-controller="NflController as nflctrl" ng-init="nflctrl.getPlayer()">
  <h1>NFL Players</h1>
  <ul>
    <li ng-repeat="player in nflctrl.players">
    <form ng-hide="!player.editing" ng-submit="nflctrl.updatePlayer(player, updatedPlayer)">
      <input type="text" ng-model="updatedPlayer"/>
      <button type="submit">Update Player</button>
    </form>
    <button ng-click="player.editing = !player.editing">Edit</button>
    <button ng-click="nflctrl.deletePlayer(player)">Delete</button>
    </li>
  </ul>
  <form ng-submit="nflctrl.addPlayer(player)">
    <input ng-model="nflctrl.newPlayer.name" type="text" placeholder="name"/>
    <input ng-model="nbactrl.newPlayer.team" type="text" placeholder="team"/>
    <input ng-model="nflctrl.newPlayer.active" type="text" placeholder="active"/>
    <input ng-model="nflctrl.newPlayer.weight" type="number" placeholder="weight"/>
    <input ng-model="nflctrl.newPlayer.championships" type="number" placeholder="championships"/>
    <button type="submit">Post Player</button>
  </form>
</div>
