<form ng-submit="nbactrl.addPlayer(newPlayer)">
  <label>Name:
  <input ng-model="nbactrl.newPlayer.name" type="text" placeholder="name"/>
  </label>
  <label>Activ:
  <input ng-model="nbactrl.newPlayer.active" type="text" placeholder="active"/>
  </label>
  <label>Height:
  <input ng-model="nbactrl.newPlayer.height" type="number" placeholder="height"/>
  </label>
  <label>Championships:
    <input ng-model="nbactrl.newPlayer.championships" type="number" placeholder="championships"/>
  </label>
    <button type="submit">Post Player</button>
  </form>
