<form ng-submit="nflctrl.addPlayer(newPlayer)">
  <label>Name:
  <input ng-model="nflctrl.newPlayer.name" type="text" placeholder="name"/>
  </label>
  <label>Team:
  <input ng-model="nbactrl.newPlayer.team" type="text" placeholder="team"/>
  </label>
  <label>Active:
  <input ng-model="nflctrl.newPlayer.active" type="text" placeholder="active"/>
  </label>
  <label>Height:
  <input ng-model="nflctrl.newPlayer.weight" type="number" placeholder="weight"/>
  </label>
  <label>Championships:
    <input ng-model="nflctrl.newPlayer.championships" type="number" placeholder="championships"/>
  </label>
    <button type="submit">Post Player</button>
  </form>
